<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.cognizant.testdata.ExtentReport"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.cognizant.tests.CabsPageTest"/>
      <class name="com.cognizant.tests.GiftcardsPageTest"/>
      <class name="com.cognizant.tests.HotelsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
